<html>
	<head>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script>
			var app = angular.module('meuApp', []);
			app.service('servCalc', function() {
				this.somar = function (x,y) { return x + y; }
				this.diminuir = function (x,y) { return x - y; }
				this.multiplicar = function (x,y) { return x * y; }
				this.dividir = function (x,y) { 
					if(y == 0){
						return "Impossível dividir por zero..."
					}else{ return x / y; }
				}				
			});
			app.controller('meuController', function ($scope, servCalc) {
				$scope.numero_1 = 0;
				$scope.numero_2 = 0;
				$scope.resultado = 0;
				$scope.som = function(){
					$scope.resultado = 
					servCalc.somar($scope.numero_1,$scope.numero_2);
				}
				$scope.sub = function(){
					$scope.resultado = 
					servCal.diminuir($scope.numero_1 , $scope.numero_2);
				}
				$scope.mul = function(){
					$scope.resultado = 
					servCalc.multiplicar($scope.numero_1 , $scope.numero_2);
				}
				$scope.div = function(){
					$scope.resultado = 
					servCalc.dividir($scope.numero_1 , $scope.numero_2);
				}
			});
		</script>	
	</head>
	<body ng-app="meuApp">
		<div ng-controller="meuController">
			<p>Nro 1: <input type="number" ng-model="numero_1"></p>
			<p>Nro 2: <input type="number" ng-model="numero_2"></p>
			<p>
				<button type="button" ng-click="som()">Somar</button>
				<button type="button" ng-click="sub()">Subtrair</button>
				<button type="button" ng-click="mul()">Multiplicar</button>
				<button type="button" ng-click="div()">Dividir</button>
			</p>			
			<p>Resultado: {{ resultado }}</p>
		</div>
	</body>
</html>


